# Conda command

## conda command list

In [ ]:
#conda env list
#conda create --name 2023summer python=3.11
#conda activate 2023summer 
#conda list
#conda install package
#conda deactivate

In [ ]:
#conda install -c conda-forge selenium

## **Practice 1**
**Using with open to create a file and store in the directory**

In [ ]:
with open("hello.txt", "w") as f:
  f.write("Hello c4Lab!")

# Python module

In [ ]:
import sys
import sys as s   # rename the module
import sys, os    # Using ",", multiple packages can be imported simultaneously
from sys import argv    # Direct access for argv in the top-level namespace.
from sys import *   # Not Good!

"""
from M1 import *
from M2 import *
"""
#What if there are duplicate functions?

In [ ]:
import sys
sys.argv[0]

In [ ]:
from sys import argv
argv[0]

# numpy

* NumPy is crucial for array manipulation, and its main functionality is built upon N-dimensional arrays, known as ndarrays. An ndarray is a multi-dimensional container that can hold data of the same type. The size of each dimension and the data type are defined by the shape and dtype attributes, respectively. In general, a one-dimensional array is referred to as a vector, while a two-dimensional array is called a matrix.
* array built: np.array([ ])

In [ ]:
#conda install -c anaconda numpy

In [ ]:
import numpy as np #Import the NumPy module and use 'np' as an alias

np1 = np.array([1, 2, 3], dtype = int)  #Create an array [1, 2, 3] with elements of type int
np2 = np.array([3, 4, 5], dtype = float) #Create an array [3, 4, 5] with elements of type float

print(np1)  #[1 2 3]
print(np2)  #[3. 4. 5.]


# Array Addition
print(np1 + np2) # [4. 6. 8.]

# Displaying Relevant Information
print(np1.ndim, np1.shape, np1.dtype) # 1 (3,) int64 =>  One-dimensional array, three elements, data type int32

In [ ]:
type(np1.shape)

In [ ]:
# a numpy example with Broadcasting
a = np.array([[ 0.0,  0.0,  0.0],
              [10.0, 10.0, 10.0],
              [20.0, 20.0, 20.0],
              [30.0, 30.0, 30.0]])
b = np.array([1.0, 2.0, 3.0])
a + b

numpy Broadcasting

    https://numpy.org/doc/stable/user/basics.broadcasting.html

reshape(row, column) changes the dimension of the array

In [ ]:
np3 = np.array([1, 2, 3, 4, 5, 6])
np3 = np3.reshape([2, 3])
print(np3)
print(np3.ndim, np3.shape, np3.dtype) # 2 (2, 3) int32

Create an array filled with 0s or 1s

In [ ]:
np1 = np.zeros([2, 3]) # np.array([[ 0.,  0.,  0.], [ 0.,  0.,  0.]])
np2 = np.ones([2, 3]) # np.array([[ 1.,  1.,  1.], [ 1.,  1.,  1.]])
print(np1)
print(np2)

Array indexing and slicing is similar to lists

In [ ]:
np3 = np.array([1, 2, 3, 4, 5, 6])

print(np3[2])
print(np3[2:])
print(np3[2::2])

In [ ]:
np3 = np3.reshape([2, 3])

print(np3)
print(np3[1, 0]) # 4

Summation of array elements

In [ ]:
np3 = np.array([1, 2, 3, 4, 5, 6])
np3 = np3.reshape([2, 3])
print(np3.sum(axis=0)) # Sum along the vertical axis [5 7 9]
print(np3.sum(axis=1)) # Sum along the horizontal axis [6 15]

In [ ]:
a = np.arange(10) #One-dimensional array from 0 to 9
a = a.reshape([2,5])

print(a)
print(a**2)

In [ ]:
a = np.random.randint(low=10, high=100, size=9) #Create an array of length 9 with random int values between 10 and 100
print(a)

## **Practice 2**

**To calculate**

1.   Overall mean: Calculate the average of all elements in the array.
2.   Column means: Calculate the average of each column in the array.
3.   Row means: Calculate the average of each row in the array.

In [ ]:
import numpy as np

In [ ]:
np4 = np.array([[11, 69, 58, 66, 86],
        [38, 40, 18,  4, 30],
        [75, 98, 89, 35, 87],
        [79, 97, 14, 95, 20],
        [16, 22, 96, 82, 40]])

# pandas
* Pandas is a powerful tool in Python for data processing and analysis. It provides two main data structures: Series and DataFrame. The DataFrame, in particular, resembles an Excel spreadsheet, consisting of rows and columns. Pandas is built on top of NumPy, which gives it excellent performance for handling large-scale data operations, surpassing the capabilities of native Python data structures. Therefore, it is commonly used to load data for data analysis tasks.

In [ ]:
#conda install -c anaconda pandas

In [ ]:
import pandas as pd

* Creating a DataFrame
* DataFrame is a data structure in Pandas that resembles a table in a relational database (with a primary key as an index and one or more attributes as columns).
* It is composed of columns and indexed rows.

In [ ]:
dic = {
    "col 1": [1, 2, 3, 4, 5, 6],
    "col 2": [10, 20, 30, 40, 50, 60],
    "col 3": list('xyzrpq'),
    "col 4": ['a', 'b', 'c', 'd', 'e', 'f'],

}
df = pd.DataFrame(dic)
print(df)
print('\n')
print(df.shape)
print('\n')
print(df.shape[0])

In [ ]:
df['col 1']

In [ ]:
df.head(5)   #Displaying the first five of the data (N) where N can be changed to any desired number.

In [ ]:
df.tail(5)   #Displaying the last five of the data (N) where N can be changed to any desired number.

### Dataframe.copy()

In [ ]:
df

In [ ]:
df2 = df#.copy()
df2['col 1'] = df2['col 1'] + 2
df2

In [ ]:
df

In addition to creating DataFrame objects manually, we can also use functions like read_csv(file_name) to read files and convert them into DataFrames. In Pandas, we primarily use read_table(file_name), read_csv(file_name), and read_html(file_name) functions to read different types of files.
* read_csv(file_name, sep=separator_symbol)

In [ ]:
#conda install -c anaconda openpyxl

In [ ]:
c =  pd.read_excel('test.xlsx' )

c.head()

In [ ]:
print(c['February 24th']) # Accessing data from the "ID" column
print('\n')

print(c['February 24th'][0])  # Accessing data from the "ID" column at row 0
print('\n')

#### Using loc ####
print(c.loc[1])   # Accessing data from row index 1
print('\n')

print(c.loc[1]['March 24th'])    # Accessing data from row index 1 and column '3月24日'
print('\n')

#### Using iloc ####
print(c.iloc[1][0:2])   # Replacing column ID with index in a DataFrame
print('\n')

In [ ]:
print(c.iloc[3][2:])

In [ ]:
df =  pd.read_csv('test.tsv', sep='\t',
                 ).rename(columns={'ID': 'id'},)

df

In [ ]:
df_csv = df.iloc[:, 0:2]
df_csv.to_csv('name.csv',
          sep= "," , # you may also use \t
          header= True,
          index= True,
          mode = 'w' # if mode = "a" ?
          )

In [ ]:
df_csv

In [ ]:
"""
1/1 represent genotype = 2
0/0 represent genotype = 0
"""

def func(x):
  gt = int(x.split('/')[0]) + int(x.split('/')[1])
  return gt

df['SM_NGS2_20150501F'] = df['SM_NGS2_20150501F'].apply(lambda x: func(x))
df

## **Practice 3**
**Count how many 'A' in REF column**

In [ ]:
df =  pd.read_csv('test.tsv', sep='\t',
                 ).rename(columns={'#CHROM': 'CHROM'},)

# Matplotlib
Refernce: https://blog.techbridge.cc/2018/05/11/python-data-science-and-machine-learning-matplotlib-tutorial/

In [ ]:
#conda install -c conda-forge matplotlib

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Histogram
normal_samples = np.random.normal(size=100) # Generate 100 sets of random variables from a standard normal distribution (a normal distribution with mean 0 and standard deviation 1).
"""
TODO: What will happen if size = 10000 ?
"""
plt.hist(normal_samples)
plt.show()

In [ ]:
# Scatter plot
num_points = 100
gradient = 0.5
x = np.array(range(num_points))
y = np.random.randn(num_points) * 10 + x * gradient
fig, ax = plt.subplots(figsize=(8, 4))
ax.scatter(x, y)

fig.suptitle('A Simple Scatter Plot')
plt.show()

In [ ]:
# Scatter plot + Regression
num_points = 100
gradient = 0.5
x = np.array(range(num_points))
y = np.random.randn(num_points) * 10 + x * gradient
fig, ax = plt.subplots(figsize=(8, 4))
ax.scatter(x, y)

m, c = np.polyfit(x, y, 1) # Using Numpy's polyfit, parameter 1 indicates one-dimensional, calculating the slope of the fitted line.
ax.plot(x, m * x + c) # Plotting a line using the equation y = m * x + c, where m represents the slope and c represents the intercept.

fig.suptitle('Scatter with regression')
plt.show()

In [ ]:
# Line plot
age = [4, 4, 17, 17, 18]
points = [2, 20, 22, 24, 20]

plt.plot(age, points)
plt.show()

In [ ]:
# Bar plot
labels = ['Physics', 'Chemistry', 'Literature', 'Peace']
foo_data = [3, 6, 10, 4]
bar_width = 0.5
xlocations = np.array(range(len(foo_data))) + bar_width

plt.bar(xlocations, foo_data, width=bar_width)

plt.title('Stock Price')
plt.show()

In [ ]:
# Box plot
normal_examples = np.random.normal(size = 100) # Generating 100 random variables from a standard normal distribution (mean = 0, standard deviation = 1).
"""
TODO: What will happen if size = 10?
"""

plt.boxplot(normal_examples)
plt.show()

In [ ]:
# Pie plot
data = np.random.randint(1, 11, 5) # Generate an array containing 5 random integers in the range [1, 11).
x = np.arange(len(data))

plt.pie(data)

plt.show()

## **Practice 4**
**Use whatever reasonable plot to show the count of ALT in tsv file**

In [ ]:
df =  pd.read_csv('test.tsv', sep='\t',
                 ).rename(columns={'#CHROM': 'CHROM'},)
df

# Other useful tools (packages) available:

In [ ]:
import time

start = time.time()

### Main ###
print('Hello World!')
###

end = time.time()
print('Total Run time is: ' + format(end-start))

In [ ]:
import math

print("pi is: ", math.pi)
print("square root of 9 is: ", math.sqrt(9))
print("floor of 3.14 is: ", math.floor(3.9))